@use "../../scss/index.scss" as *;

.header__main-wrapper {
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  height: $header-height;
  border-bottom: 2px solid var(--borders-color);
  background-color: var(--header-bg-color);
  backdrop-filter: blur(3px);
}

.header__left-section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__logo-link-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  height: 100%;
  border-right: 2px solid var(--borders-color);
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 40px;
  }
}

.header__nav-links {
  display: flex;
  gap: 10px;
  margin-left: 15px;
}

.header__right-menu {
  display: flex;
}

.header__right-menu-search {
  margin-right: 15px;
  button {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    &:hover {
      border-radius: 50%;
      background-color: $btn-hover-color;
    }
  }
  img {
    height: auto;
    width: 30px;
  }
}

.header__right-menu-theme-toggle {
  margin-right: 15px;
  button {
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: none;
    border: none;
    &:hover {
      border-radius: 50%;
      background-color: $btn-hover-color;
    }
  }
  img {
    height: auto;
    width: 30px;
  }
}

.header__right-menu-profile {
  display: flex;
  justify-content: center;
  align-items: center;

  .sign-buttons {
    display: flex;
    gap: 10px;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    .chakra-button {
      &:hover {
        background-color: $btn-hover-color;
      }
    }
  }
  .profile-info {
    color: var(--text-color);
  }
}

.icon {
  width: auto;
  height: 25px;
  fill: var(--text-color);
  stroke: var(--text-color);
}

.logout-icon {
  width: auto;
  height: 25px;
  stroke: var(--text-color);
}
