@use '../../scss/index.scss' as *;

@mixin flex-center-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    border-bottom: 2px solid $borders-color;
}

.navbar__main-wrapper {
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: $navbar-width;
    height: 100%;
    background-color: $navbar-bg-color;
}

.navbar__nav-element {
    @include flex-center-navbar;
    img {
        height: auto;
        width: 28px;
    }
}

.navbar__nav-logo {
    @include flex-center-navbar;
    img {
        height: auto;
        width: 40px;
    }
    
}