@use "../../scss/index.scss" as *;

.loading-page__main-wrapper {
  color: white;
  background-color: $main-bg-color;
  opacity: 0;
  pointer-events: none;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: $header-height;
  z-index: 999;
  &.visible {
    opacity: 1;
  }
  .progress-bar {
    position: fixed;
    width: 100vw;
    top: $header-height;
    background: none;
    & > div {
      background-image: linear-gradient(to right, transparent 0%, $movie-green 50%, transparent 100%);
    }
  }
}
