@use "../../scss/index.scss" as *;

.footer__main-wrapper {
  color: var(--text-color);
  margin-top: 100px;
  height: 200px;
  border-top: 2px solid var(--borders-color);
}

.footer__logo-container {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 50px;
    padding-right: 8px;
  }
  a {
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    &:hover {
      background: none;
    }
  }
}

.footer__info {
  margin: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    border-bottom: 1px solid var(--text-color);
    &:hover {
      border: none;
    }
  }

  p {
    font-size: 15px;
  }
  img {
    width: auto;
    height: 15px;
  }
}

.footer__info a:visited {
  color: var(--text-color);
}
