@use "colors" as *;

html[theme-mode="dark"] {
  --text-color: #{$text-color};
  --header-bg-color: #{$header-bg-color};
  --main-bg-color: #{$main-bg-color};
  --secondary-bg-color: #{$secondary-bg-color};
  --borders-color: #{$borders-color};
}

html[theme-mode="light"] {
  --text-color: #{$light-text-color};
  --header-bg-color: #{$light-header-bg-color};
  --main-bg-color: #{$light-main-bg-color};
  --secondary-bg-color: #{$light-secondary-bg-color};
  --borders-color: #{$light-borders-color};
}
